/*MODULO AGENCIA*/

.agencia-imagem img{
	margin: 10px 0;
}

.agencia-titu{
	text-transform: uppercase;
	color: #e38818;
	font-size: 3em;
	margin: 0 0 20px 0;
	text-align: center;
	overflow: hidden;
	height: 45px;
}

.agencia-titu span{
	background-color: #171717;
	padding: 0 7px;
	margin: 0 10px 0 0;
}

.agencia-txt{
	font-family: 'droid_serifregular', sans-serif;
	color: #2b2b2b;
	font-size: 1em;
}

.agencia-cont a{
	margin: 15px 0 0 0;
	font-size: 1.3em;
	color: #e38818;
	display: block;
}






/*O QUE FAZEMOS*/

.oquefazemos{
	width: 100%;
}

.oquefazemos-titu{
	border-left: 14px solid #171717;
	padding: 0 0 0 0px;
	line-height: 10px;
	margin: 50px auto 50px auto;
	width: 85%;
}

.oquefazemos-titu h1{
	color: #df9130;
	font-size: 3em;
	text-align: center;
}

.oquefazemos-titu span{
	color: #171717;
	font-size: 1.3em;
	font-family: 'droid_serifregular', sans-serif;
	margin: -15px 0 0 0;
	text-align: center;
	display: block;
}

.oquefazemos-flex{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.oquefazemos-flex img{
	margin: 0 0 10px 0;
}

.oquefazemos-image{
	position: relative;
}

.oquefazemos-overlay{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 96%;
	cursor: pointer;
	background-color: rgba(223,145,48,.8);

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.oquefazemos-overlay:hover{
	background-color: rgba(223,145,48,.8);	
}

.oquefazemos-txt1, 
.oquefazemos-txt2{
	position: absolute;
	z-index: 2;
	color: #fff;
	width: 100%;
	top: 50%;
	text-align: center;
}

.oquefazemos-overlay:hover .oquefazemos-txt1, 
.oquefazemos-overlay:hover .oquefazemos-txt2{
	display: block;	
}

.oquefazemos-txt1{
	top: 37%;
	font-size: 1.3em
}


.venhaconhecer{
	background-color: #df9130;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.venhaconhecer span{
	color: #fff;
	font-size: 1.5em;
	font-family: 'droid_serifregular', sans-serif;	
	margin: 0 0px 0 0;
}

.venhaconhecer a{
	background-color: #171717;
	color: #fff;
	text-transform: uppercase;
	font-size: 3em;
	width: 230px;
	height: 65px;
	border-radius: 5px;
	padding: 5px 0px 0 0px;
	margin: 0 0 0 10px;
}

.venhaconhecer a:hover{
	color: #df9130;
	background-color: #fff;
}






/* NOSSOS SERVIÇOS */

.nossosservicos{
	width: 100%;
}

.nossosservicos-titu{
	border-left: 14px solid #171717;
	padding: 0 0 0 10px;
	line-height: 10px;
	margin: 40px auto 40px auto;
	width: 70%;
}


.nossosservicos-titu h1{
	color: #df9130;
	font-size: 3em;
	text-align: center;
}


.nossosservicos-titu span{
	color: #171717;
	font-size: 1em;
	font-family: 'droid_serifregular', sans-serif;
	margin: -17px 0 0 0;
	text-align: center;
	display: block;
	float: left;
}

.nossosservicos-cont{
	background-color: #ededed;
	width: 100%;
	padding: 30px 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nossosservicos-bloc{
	width: 270px;
	height: 390px;
	background-color: #e0e0e0;
	padding: 5px 10px;
	margin: 0 0 20px 0;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.nossosservicos-bloc:hover{
	background-color: #ededed;
}

.nossosservicos-bloc p{
	font-family: 'droid_serifregular', sans-serif;	
}





/* CLIENTES */

.clientes{
	width: 100%;
}

.clientes-titu{
	border-left: 14px solid #171717;
	padding: 0 0 0 10px;
	line-height: 10px;
	margin: 40px auto 40px auto;
	width: 60%;
}


.clientes-titu h1{
	color: #df9130;
	font-size: 3em;
	text-align: center;
}


.clientes-titu span{
	color: #171717;
	font-size: 1em;
	font-family: 'droid_serifregular', sans-serif;
	margin: -17px 0 0 0;
	text-align: center;
	display: block;
	
}

.clientes-flex{
	padding: 30px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.clientes-bloc{
	width: 50%;
	margin: 0 0 20px 0;
}








/**************************************************************************************************/
@media screen and (min-width: 720px) {


/*MODULO AGENCIA*/

.agencia{
	width: 100%;
	margin: 70px 0 0 0;
}

.agencia-imagem img{
	margin: 0 0 0 -30px;
}

.agencia-cont{
	padding: 30px 20px 0 20px;
	text-align: left;
}

.agencia-titu{
	text-transform: uppercase;
	color: #e38818;
	font-size: 3em;
	margin: 0 0 20px 0;
	text-align: left;
	overflow: hidden;
}

.agencia-titu span{
	background-color: #171717;
	padding: 0 7px;
	margin: 0 10px 0 0;
}

.agencia-txt{
	font-family: 'droid_serifregular', sans-serif;
	color: #2b2b2b;
	font-size: 1.1em;
}

.agencia-cont a{
	float: left;
	margin: 15px 0 0 0;
	font-size: 1.1em;
	color: #e38818;
}






/*O QUE FAZEMOS*/

.oquefazemos{
	width: 100%;
}

.oquefazemos-titu{
	float: right;
	border-left: 14px solid #171717;
	padding: 0 0 0 10px;
	line-height: 10px;
	margin: 70px 0;
	width: 25%;
}


.oquefazemos-titu h1{
	color: #df9130;
	font-size: 3.5em;
	text-align: left;
}


.oquefazemos-titu span{
	color: #171717;
	font-size: 1.3em;
	font-family: 'droid_serifregular', sans-serif;
	margin: -17px 0 0 0;
	text-align: left;
	display: block;
	float: left;
}


.oquefazemos-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.oquefazemos-flex img{
	margin: 0 0 10px 0;
}

.oquefazemos-image{
	position: relative;
}

.oquefazemos-overlay{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 220px;
	background-color: rgba(223,145,48,.0);		
	cursor: pointer;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.oquefazemos-overlay:hover{
	background-color: rgba(223,145,48,.8);	
}

.oquefazemos-txt1, 
.oquefazemos-txt2{
	position: absolute;
	z-index: 2;
	color: #fff;
	width: 100%;
	top: 50%;
	text-align: center;
	display: none;
}

.oquefazemos-overlay:hover .oquefazemos-txt1, 
.oquefazemos-overlay:hover .oquefazemos-txt2{
	display: block;	
}

.oquefazemos-txt1{
	top: 40%;
	font-size: 1.3em
}

.venhaconhecer{
	background-color: #df9130;
	padding: 40px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.venhaconhecer span{
	color: #fff;
	font-size: 2.5em;
	font-family: 'droid_serifregular', sans-serif;	
	margin: 0 10px 0 0;
}

.venhaconhecer a{
	background-color: #171717;
	color: #fff;
	text-transform: uppercase;
	font-size: 3em;
	width: 230px;
	height: 65px;
	border-radius: 5px;
	padding: 5px 0px 0 0px;
	margin: 0 0 0 10px;
}

.venhaconhecer a:hover{
	color: #df9130;
	background-color: #fff;
}





/* NOSSOS SERVIÇOS */

.nossosservicos{
	width: 100%;
}

.nossosservicos-titu{
	float: left;
	border-left: 14px solid #171717;
	padding: 0 0 0 10px;
	line-height: 10px;
	margin: 70px 0;
	width: 35%;
}


.nossosservicos-titu h1{
	color: #df9130;
	font-size: 3.5em;
	text-align: left;
}


.nossosservicos-titu span{
	color: #171717;
	font-size: 1.3em;
	font-family: 'droid_serifregular', sans-serif;
	margin: -17px 0 0 0;
	text-align: left;
	display: block;
	float: left;
}

.nossosservicos-cont{
	background-color: #ededed;
	width: 100%;
	padding: 30px 10%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.nossosservicos-bloc{
	width: 270px;
	height: 390px;
	background-color: #e0e0e0;
	padding: 5px 10px;
	margin: 0 0 20px 0;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.nossosservicos-bloc:hover{
	background-color: #ededed;
}

.nossosservicos-bloc p{
	font-family: 'droid_serifregular', sans-serif;	
}






/* CLIENTES */

.clientes{
	width: 100%;
}

.clientes-titu{
	border-left: 14px solid #171717;
	padding: 0 0 0 10px;
	line-height: 10px;
	margin: 70px auto 50px auto;
	width: 26%;
}


.clientes-titu h1{
	color: #df9130;
	font-size: 4em;
	text-align: center;
}


.clientes-titu span{
	color: #171717;
	font-size: 1.3em;
	font-family: 'droid_serifregular', sans-serif;
	margin: -17px 0 0 0;
	text-align: center;
	display: block;
	
}

.clientes-flex{
	padding: 40px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.clientes-bloc{
	width: 25%;
	margin: 0 0 40px 0;
}



}